h1 {
  width: 300px;
  height: 60px;
  text-align: center;
  background-color: lightgrey;
  border-top-right-radius:10px;
  border-top-left-radius:10px;
  font-weight: 100px;
  margin-top: 5px;
  padding-top: 15px;
}

h2 {
  width: 300px;
  height: 30px;
  padding-left: 10px;
  padding-top: 10px;
  font-weight: normal;
  font-size: 20px;
}

#body {
  width: 300px;
  height: 372px;
  background-color: #8ABFFE;
  margin-top: -22px;
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
}

#body_im_999 {
  width: 300px;
  height: 450px;
  background-color: #8ABFFE;
  border-top-right-radius:10px;
  border-top-left-radius:10px;
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
}

#body_im_330 {
  width: 300px;
  height: 450px;
  background-color: #8ABFFE;
  border-top-right-radius:10px;
  border-top-left-radius:10px;
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
}

#body_reg_330 {
  width: 300px;
  height: 450px;
  background-color: #8ABFFE;
  border-top-right-radius:10px;
  border-top-left-radius:10px;
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
}

#body_reg_999 {
  width: 300px;
  height: 450px;
  background-color: #8ABFFE;
  border-top-right-radius:10px;
  border-top-left-radius:10px;
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
}

#set {
  margin-left: 10px;
}

#weekday {
  text-align: center;
}

#reg_time {
  margin-left: 10px;
  font-weight: normal;
  font-size: 16px;
}

#submit {
  margin-left: 10px;
}

#im_time {
  margin-left: 10px;
}



/* The switch - the box around the slider */
.switch {
  margin-right: 20px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float:right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}